---
layout: default
---

<div class="main">
    <div class="container">
        <div class="intro">
            <div class="avatar"><a href="{{site.url}}/posts"><img src="{{site.url}}/assets/site_images/missjaanii.jpg"></a></div>
            <div class="nickname">Debjani Saha</div>
            <div class="description">
                <p>Ever tried telling a  <strong>story</strong> through <strong>data</strong>?</p>
            </div>
            <div class="links">
                <a class="link-item" title="Link"
                    href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=debjanisaha31@gmail.com&tf=1" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-link"></i>
                </a>
                <a class="link-item" title="LinkedIn" href="https://linkedin.com/in/missjaanii" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-linkedin"></i>
                </a>
                
                <a class="link-item" title="Twitter" href="https://twitter.com/missjaanii" target="_blank"
                    rel="noopener">
                    <i class="iconfont icon-twitter"></i>
                </a>
                
                <a class="link-item" title="Github" href="https://github.com/missjaanii" target="_blank" rel="noopener">
                    <i class="iconfont icon-github"></i>
                </a>
            </div>
        </div>
    </div>
    <script>"serviceWorker" in navigator && (navigator.serviceWorker.controller ? console.log("[PWA Builder] active service worker found, no need to register") : navigator.serviceWorker.register("pwabuilder-sw.js", { scope: "./" }).then(function (e) { console.log("[PWA Builder] Service worker has been registered for scope: " + e.scope) }))</script>
</div>